<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>/views/user_list.html</title>
  </head>
  <body>
    <h1>사용자 목록 페이지</h1>
    <table>
      <tr>
        <th>doc_id</th>
        <th>id</th>
        <th>name</th>
        <th>region</th>
        <th>password</th>
      </tr>
      <% console.log("user list => ", userlist) for(var i in userlist){ var user
      = userlist[i] } %>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
